# Terraform State
*.tfstate
*.tfstate.*

# 変数定義ファイル (IDやキーなどの機密情報が含まれるため除外)
terraform.tfvars
*.auto.tfvars

# Terraform設定ディレクトリ
.terraform/
.terraform.lock.hcl

# Pythonのキャッシュ
__pycache__/
*.pyc

# Lambda用に生成されたZIPファイル
*.zip

# OSのサムネイルファイルなど
.DS_Store
Thumbs.db